<script type="text/javascript">
  $(function() {
    $('#post_description').keyup(updateCount);
    $('#post_description').keydown(updateCount);
    function updateCount() {
      var cs = $(this).val().length;
      $('#characters').text(cs);}});
</script>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
    <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description, "Descrição" %><br>
    <p class="comment">(É recomendado escrever no máximo 150 caracteres)</p>
    <p id="characters">0</p>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags" %><br>
    <p class="comment">(Separado por vírgulas)</p>
    <%= f.text_area :tag_list %>
  </p>

  <p>
    <%= f.label :body, "Texto" %><br>
    <br>
    <%= f.cktext_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>