<% provide(:title, "Groselha Factory") %>
<% provide(:thumb, "https://groselha-factory.tk/assets/gf-logo-418709e404e4451c013a25feda3815a033017c96d04dc125757945d302ab8519.png") %>
<% provide(:description, "Artigos sobre qualquer coisa, sem nenhuma explicação.") %>
<% provide(:post_path, "/") %>

<% @posts.each do |post| %>
	<div class="post-preview">
		<h2 class="title"><%= link_to post.title, post%></h2>
		<p class="date"><%= l post.created_at, format: ("%d de %B de %Y") %></p>
    <div class="row">
      <div class="crop">
        <% if retrieve_photo(post) %>
          <%= link_to image_tag(retrieve_photo(post)), post %>
        <% end %>
      </div>
      <p class="description"><%= post.description %></p>
      <%= link_to "Leia mais", post, class: "leia-mais"%>
	  </div>
  </div>
<% end %>

<%= will_paginate :previous_label => t("anterior"), :next_label => t("próximo") %>
