<% @posts.each do |post| %>
	<div class="post-wrapper">
		<h2 class="title"><%= link_to post.title, post%></h2>
		<p class="date"><%= l post.created_at, format: ("%d de %B de %Y") %></p>
    <div class="row">
      <div class="crop">
        <% if retrieve_photo(post) %>
          <%= link_to image_tag(retrieve_photo(post)), post %>
        <% end %>
      </div>
      <p class="description"><%= post.description %></p> 
	  </div>
    <p class="tags">Tags: <%= display_tags(post) %></p>
  </div>
<% end %>

<%= will_paginate :previous_label => t("anterior"), :next_label => t("próximo") %>
