<% provide(:title, @post.title) %>
<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="date">
    Postado há <%= time_ago_in_words(@post.created_at) %> 
    <% if user_signed_in? %>
      | <%= link_to 'Editar', edit_post_path(@post) %>
      | <%= link_to 'Deletar', post_path(@post), method: :delete, data: { confirm: 'Tem certeza?'}  %>
    <% end %>
  </p>

  <div class="body">
    <%= @post.body.html_safe %>
  </div>

  <div id="comments">
    <h2>Deixe um comentário:</h2>
  </div> 
</div>