<div class="header">
  <div class="row">
    <div class="col-2 filler"></div>
    <div class="col-10">
      <%= link_to root_path do %>
        <%= image_tag "gf-logo.png", class: 'logo'%>
      <% end %>
    </div> 
  </div>
  <div class="row menu">
    <div class="col-2 filler">
    </div>
    <div class="col-7 nav-bar">
      <ul>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "Sobre", sobre_path %></li>
      </ul>
    </div>
    <div class="col-3 filler">
      <% if user_signed_in? %>
        <div class="dev-menu">
          <%= link_to "Novo Post", new_post_path, :class => "button" %>
          <%= link_to "Log Out", destroy_user_session_path, :class => "button", method: :delete %>﻿
        </div>
      <% end %> 
    </div>
  </div>
</div>
<% flash.each do |name, msg| %>
  <%= content_tag(:div, msg, class: "alert") %>
<% end %>
