<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/analytics" %>
    <title><%= full_title(yield(:title)) %></title>
    <meta property="fb:app_id" content="341732849604133">
    <meta property="og:title" content="<%= yield(:title) %>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Groselha Factory"/>
    <meta property="og:image" content="<%= "https://groselha-factory.tk" + yield(:thumb) %>"/>
    <meta property="og:description" content="<%= yield(:description) %>"/>
    <meta property="og:url" content="<%= "https://groselha-factory.tk" + yield(:post_path) %>"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Droid+Serif|Fira+Sans|Open+Sans|Roboto+Condensed" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>

    <%= render "layouts/header" %>

    <div class="row">
      <div class="col-2 filler">
      </div>
      <div class="col-main">
        <%= yield %>
      </div>
      <div class="col-sidebar">
        <%= render "layouts/sidebar" %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
