<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta property="fb:app_id" content="1606558576090160">
    <meta property="og:title" content=<%= yield(:title) %>/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Une Fille"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <%= render "layouts/facebook-comments" %>

  <body>
    <%= render "layouts/header" %>
    <div class="row">
      <div class="col-2" id="sidebar">
        <%= render "layouts/sidebar" %>
      </div>

      <div class="col-6" id="main_content">
        <%= yield %>
      </div>

      <div class= "col-4" id="other_bar">
      </div>
    </div>  
    
  </body>
</html>